*{
  word-wrap: break-word;
}

body{
  background-color:#f0f3f7;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center
}


.maincard{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: #fff;
  border-top: 10px solid #039afe;
  padding: 30px 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 1px 1px 15px rgba(0,0,0, 30%);
  min-height: 60vh;
  width: 80vw;
  text-align: center;
  overflow-x: hidden;
  margin: 10px auto;
}

.heightfixed{
  height: 80px;
}

.headingofcards{
  text-align: start;
  width: 120px;
  font-size: 25px;
  font-weight: 300;
}

.loading{
  color: #039afe;
}

.singleine{
  margin: 10px 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.singleine select {
  width: 100%;
  padding: 10px 20px;
}

.singleine input{
  width: 30%;
  padding: 10px 20px;
  font-size: 30px;
}

.resultdiv{
  font-size: 30px;
}

@media (max-width: 440px){
  .singleine input{
    margin: 0 auto;
    width: 100%;
  }

  .responsiveclass{
    margin-bottom: 0;
    margin-top: 100px;
  }
}